.auth-container{
    background-image: url("../src/assets/images/auth-img.png");
    background-size: cover;
    background-position: center center;
}
.bg-overlay{
    background: linear-gradient(45deg,rgba(47, 140, 96, 0.6),rgba(0, 0, 0, 0.99));
}
:root{
   --main-color:rgba(74, 163, 90, 1);
}
.bg-green{
    background-color: var(--main-color)!important;

}
.text-green{
    color:var(--main-color);
}

 .sidebar-container .ps-sidebar-container{
    border-top-right-radius: 35px;
    color:#fff;
    min-height: 100vh;
    background-color:rgba(31, 38, 62, 1) ;

}

.sidebar-container .ps-menu-button{
    transition: all 1s;
}
.sidebar-container .ps-menu-button:hover{
   background-color: rgba(0, 146, 71, 0.1) !important;
   border-left:5px solid rgba(0, 146, 71, 1);
}
.bg-color{
    background-color:rgba(240, 255, 239, 1) ;
}
table,button{
    font-size: 14px !important;
}
.imgsize{
    width:50px;
    height: 50px;
}