.auth-container{
    background-image: url("../src/assets/images/auth-img.png");
    background-size: cover;
    background-position: center center;
}
.bg-overlay{
    background: linear-gradient(45deg,rgba(47, 140, 96, 0.6),rgba(0, 0, 0, 0.99));
}
:root{
   --main-color:rgba(74, 163, 90, 1);
}
.bg-green{
    background-color: var(--main-color)!important;

}
.text-green{
    color:var(--main-color);
}
